.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #f5402d, #fe6332);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    margin: 6px 0 0 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.header__navbar-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-link,
.header__navbar-icon-link { 
    display: inline-flex;
    align-items: center;
}

.header__navbar-link:hover,
.header__navbar-item:hover,
.header__navbar-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-list {
    --growth-from: 0.6;
    --growth-to: 1;
    display: block;
    transform-origin: top;
    animation: growth ease-in 0.18s;
}

.header__navbar-user-avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 6px;
    font-weight: 400;
}

.header__navbar-user-list {
    padding-left: 0;
    list-style: none;
    position: absolute;
    top: 140%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    z-index: 1;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}

.header__navbar-user-list::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 52px;
    top: -30px;
}

.header__navbar-user-list::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    right: 0;
    width: 100%;
    height: 20px;
}

.header__navbar-user-item a{
    display: block;
    padding: 16px 16px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__navbar-user-item--separate { 
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-item--bold {
    /* font-size: 1.5rem; */
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #fb9086;
    right: -9px;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link,
.header__navbar-icon {
    margin: 0 3px;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.5rem;
}

.remove-pointer {
    cursor: text;
    color: var(--white-color); /*Ghi đề thuộc tính hover*/
}

/*Header QR code*/
.header__qr {
    position: absolute;
    background-color: var(--white-color);
    width: 188px;
    left: 11%;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    animation: fadeIn ease 0.5s;
    will-change: opacity;
}

.header__qr::before {
    width: 100%;
    height: 15%;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download:nth-child(1) {
    height: 16px;
    margin-left: 11px;
}

.header__qr-download:nth-child(2) {
    height: 16px;
    margin-right: 11px;
}

/*Header Notification*/
.header__notify {
    position: absolute;
    top: 180%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 30px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform; /*trình duyệt web sẽ tối ưu cho 2 thằng này*/
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -30px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 26px;
    top: -18px;
    right: 0;
}

.header__navbar-link-notify:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 40px;
    margin: 0 12px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    width: 100%;
    padding: 12px;
    display: flex;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-des {
    line-height: 0.5rem;
    font-size: 1.2rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none; 
    color: var(--text-color);
    padding: 14px 16px;
    font-size: 1.4rem;
    font-weight: 400;
}



/*Authentication Modal*/

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    padding: 0 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    /* margin-top: 16px; */
}

.auth-form {
    width: 500px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__text-link:hover{
    text-decoration: underline;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__forgot a {
    font-size: 1.4rem;
    margin-right: 20px;
    color: var(--primary-color);
    position: relative;
    text-decoration: none;
}

.auth-form__forgot a::after {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 1px;
    background-color: #e6dddc;
    right: -12px;
    top: 50%;
    transform: translateY(-50%); 
}

.auth-form__need-help a{
    font-size: 1.4rem;
    color: #756f6e;
    text-decoration: none;
}


.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-from__socials {
    background-color: #f5f5f5;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn.btn--with-icon {
    font-size: 1.2rem;
    margin: 5px;
    flex: 1;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--with-icon i[class*="fa-brands fa-facebook"] {
    font-size: 1.6rem;
    margin-right: 10px;
    color: var(--icon-blue);
}

.btn.btn--with-icon i[class*="fa-brands fa-google"] { 
    font-size: 1.6rem;
    margin-right: 10px;
    color: var(--icon-green);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.header__logo {
    width: 200px;
}

.header__logo-link { 
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    border-radius: 3px;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

/* Cart layout */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-icon {
    margin-top: 4px;
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-qty {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    height: 16px;
    padding: 0 6px;
    text-align: center;
    top: -4px;
    left: 24px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 0.125rem solid #ee4d2d;
    font-size: 1.4rem;
    line-height: 16px;
    min-width: 0.6875rem;
}

/* .header__cart-qty span {
} */


.header__cart-wrap:hover .header__cart-list {
    --growth-from: 0.3;
    --growth-to: 1;
    display: block;
    transform-origin: calc(100% - 35px) top;
    animation: growth ease-in 0.25s;
}

.header__cart-list {
    position: absolute;
    top: 140%;
    right: -13px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: default;
    display: none;
    /* padding: 28px 0; */
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 7px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--empty .header__cart-empty-img, 
.header__cart-list--empty .header__cart-empty-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-empty-img {
    width: 40%;
    display: none;
}

.header__cart-empty-text {
    display: none;
    padding: 6px 0;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Cart Item */
.header__cart-heading {
    text-align: left;
    padding: 12px;
    margin: 0;
    user-select: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #888;
}

.header__cart-products{
    width: 100%;
    display: flex;
    padding: 12px;
}

.header__cart-products:hover {
    background-color: rgb(248, 248, 248);
}

.header__cart-products-img img{
    height: 42px;
    width: 42px;
    border: 1px solid #ccc;
}

.header__cart-info{
    margin-left: 8px;
    flex: 1;
    overflow: hidden;
}

.header__cart-info-head{
    display: flex;
}

.header__cart-info-name{
    max-width: 62%;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header__cart-info-price{
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 20px;
    color: var(--primary-color);
    margin-left: 42px;
    margin-right: 4px;
}

.header__cart-info-qty{
    font-size: 1.2rem;
    margin-left: 4px;
}

.header__cart-info-body{
    margin-top: 6px;
    text-align: left;
}

.header__cart-type{
    font-size: 1.2rem;
    color: #78796e;
}

.header__cart-remove {
    font-size: 1.4rem;
    float: right;
}

.header__cart-button {
    padding: 10px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    text-align: right;
}

.header__cart-button button a {
    text-decoration: none;
    color: var(--white-color);
    display: block;
    line-height: 36px;
}

.header__cart-button button:hover{
    opacity: 0.92;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    line-height: 2.4rem;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 14px 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 4px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    padding-left: 0;
    margin-top: 11px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    width: 134px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    display: none;
    animation: fadeIn linear 0.2s;
}

.header__search-option::after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 100%;
    top: -12px;
    right: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 10px;
}

.header__search-option-item span {
    margin-left: 4px;
}

.header__search-option-item:nth-child(1) {
    font-size: 1.4rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: var(--text-color);
}

.header__search-option-item:nth-child(2) {
    font-size: 1.4rem;
    color: var(--text-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* header tìm kiếm CSS */

/*Search History*/

.header__search-history{
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: none;
    overflow: hidden;
}

.header__search-history-heading{
    padding: 6px 0 0 0;
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    user-select: none;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item{
    padding: 0 12px;
    height: 38px;
}

.header__search-history-item:hover {
    background-color: #f8f4f4;
    cursor: pointer;
}

.header__search-history-item a{ 
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}

